
/* Add only additional mixins */
@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 768px */
$atSmall: "(min-width: 48em)";

/* 1024px */
$atMedium: "(min-width: 64em)";

/* 1366px */
$atLarge: "(min-width: 85.375)";

/* 1920px */
$atXLarge: "(min-width: 120em)";

/* 2560px */
$atXXLarge: "(min-width: 160em)";

