


/* Add only variables */
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

/*  Font-Size */
$base_font_size: 1em;

/*  Line-Height */
$base_line_height: 1.5;
$header_line_height: 1.25;
